@model IISProjektas.Models.AdvertisementModel

@{
    ViewBag.Title = "Delete";
}

<h2>Skelbimo trynimas </h2>

<h3>Ar tikrai norite ištrinti šį skelbimą?</h3>
<fieldset style="min-height:500px">
    <legend>Skelbimas</legend>


    <br />
    <br />
    <div style="display:inline;text-align:center;">
        <h2>@Html.DisplayFor(model => model.name)</h2>
    </div>
    <div style="position:absolute;display:block">
        <div class="image-container">
            <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.image))" alt="Image" height="240px" width="240px" />
        </div>
        <br>
        <div style="font-size:large;  ">
            Įkėlimo data:<br />
            @Html.DisplayFor(x => x.dateCreated)<br />

        </div>
        <br />
        <div style="font-size:large;">
            Kategorija<br />
            @Html.DisplayFor(x => x.category)
        </div>
    </div>
    <div style="margin-left:270px">
        <div style="font-size:large; display:block; float:left; margin-top:30px;border: 3px solid blue;width:500px;">
            @Html.DisplayFor(model => model.description)
        </div>


        <div style="clear:both;padding-top:30px">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Ištrinti" />
                if (Session["CurrentPage"].ToString() == "MyAds")
                {
                    <span class="Back_button">
                        @Html.ActionLink("Grįžti atgal", "MyAds", "Home")
                    </span>
                }
                if (Session["CurrentPage"].ToString() == "Index")
                {
                    <span class="Back_button">
                        @Html.ActionLink("Grįžti atgal", "Index", "Home")
                    </span>
                }
            }       


        </div>
    </div>

    @Html.HiddenFor(x => x.Id)
</fieldset>



