@model IISProjektas.User

@{
    ViewBag.Title = "Skelbimo ištrynimas";
}

<h2>Ištrinti</h2>

<h3>Ar tikrai norite ištrnti šį vartotoją?</h3>
<fieldset>
    <legend>User</legend>

    <div class="display-label" style="font-weight:700;font-size:large">
         Vartotojo vardas:
    </div>
    <div class="display-field" style="font-size:large">
        @Html.DisplayFor(model => model.username)
    </div>

    <div class="display-label" style="font-weight:700;font-size:large">
        El. Paštas:
    </div>
    <div class="display-field" style="font-size:large">
        @Html.DisplayFor(model => model.email)
    </div>   

    <div class="display-label" style="font-weight:700;font-size:large">
        Vartotojo būsena: 
    </div>
    <div class="display-field" style="font-size:large">
        @Html.DisplayFor(model => model.UserState.name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    
        <input type="submit" value="Ištrinti" /> 
        <span class="Back_button">
            @Html.ActionLink("Atgal", "Index")
        </span>
        
    
}
