@model IISProjektas.User

@{
    ViewBag.Title = "Vartotojo informacija";
}

<h2>Vartotojo informacija</h2>

<fieldset>
    <legend>Vartotojas</legend>

    <div class="display-label" style="font-size:large;font-weight:700">
        Vartotojo vardas
    </div>
    <div class="display-field" style="font-size:large;">
        @Html.DisplayFor(model => model.username)
    </div>

    <div class="display-label" style="font-size:large;font-weight:700">
        El. Paštas
    </div>
    <div class="display-field" style="font-size:large">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label" style="font-size:large;font-weight:700">
        Vartotojo būsena.
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserState.name)
    </div>
</fieldset>
<br /><br />

<span class="Back_button">
    @Html.ActionLink("Atgal", "Index", "Home")

</span>
@if (Session["LogedUserID"] != null && int.Parse(Session["LogedUserID"].ToString()) != Model.Id)
{
    <span class="Back_button">
        @Html.ActionLink("Parašyti žinutę", "WriteMessage", "Home", new { Id = Model.Id }, null)
    </span>
}

