@model IISProjektas.Models.UserEditModel

@{
    ViewBag.Title = "Vartotojo redagavimas";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Vartotojas</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.username)
            @Html.ValidationMessageFor(model => model.username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.newPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.newPassword)
            @Html.ValidationMessageFor(model => model.newPassword)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.confirmNewPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.confirmNewPassword)
            @Html.ValidationMessageFor(model => model.confirmNewPassword)
          </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.state)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.state, new SelectList(Model.stateDropDown, "Value", "Text"))
            @Html.ValidationMessageFor(model => model.state)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.permissions)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.permissions, new SelectList(Model.groupDropDown, "Value", "Text"))
            @Html.ValidationMessageFor(model => model.permissions)
        </div>

        <p>
            <input type="submit" value="Save" />
            <span class="Back_button">
                @Html.ActionLink("Atgal", "Index")
            </span>
        </p>
        @Html.HiddenFor(model => model.oldPassword)
</fieldset>
}

<div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
