@model IEnumerable<IISProjektas.Models.UserModel>

@{
    ViewBag.Title = "Vartodojų administravimas";
}

<hgroup class="title">
   
    <h2>Vartotojų sąrašas.</h2>
</hgroup>

<table>
@foreach(var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stateText, new { @disabled = "disabled" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.permissionsText, new { @disabled = "disabled" })
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
    
}

</table>
