@model IISProjektas.Models.AdvertisementFilterModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Pagrindinis puslapis";
}


<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


<h2> Filtras</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "filterForm" }))
{
    <fieldset>
        <div style="display:block;float:left">
            <div class="editor-label">
                @Html.LabelFor(model => model.usernameFilter)
            </div>
            <div class="editor-field">
                @*@Html.TextBoxFor(model => model.usernameFilter)
                    @Html.ValidationMessageFor(model => model.usernameFilter)*@
                @Html.TextBox("usernameFilter", ViewBag.descriptionFilter as string)
            </div>
        </div>
        <div style="display:block;float:left; margin-left:30px;">
            <div class="editor-label">
                @Html.LabelFor(model => model.categoryFilter)
            </div>
            <div class="editor-field">
                @*@Html.DropDownListFor(model => model.categoryFilter, new SelectList(Model.categoryDropDownList, "Value", "Text"), new { @class = "dropDown" })
                    @Html.ValidationMessageFor(model => model.categoryFilter)*@
                @Html.DropDownList("categoryFilter", new SelectList(ViewBag.categoryDropDownList, "Value", "Text"), new { @class = "dropDown" })
            </div>
        </div>
        <div style="display:inline-block">
            <div class="editor-label">
                @Html.LabelFor(model => model.descriptionFilter)
            </div>
            <div class="editor-field">
                @*@Html.TextAreaFor(model => model.descriptionFilter)
                    @Html.ValidationMessageFor(model => model.descriptionFilter)*@
                @Html.TextArea("descriptionFilter", ViewBag.descriptionFilter as string)

            </div>
        </div>
        <br />


        <input type="submit" value="Filtruoti" />

        <span class="Back_button" style="font:-webkit-small-control" onclick="resetFilter()">Išvalyti filtrą</span>

    </fieldset>
}


@foreach (var item in Model.adsList)
{

    <div style="border:2px solid black;margin:10px; width:700px;display:inline-block;clear:both">
        <span class="advertisement-image">

            <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(item.image))" alt="Image" height="160px" width="160px" />

        </span>
        <span class="advertisement-author">
            Skelbimo autorius: @Html.ActionLink(item.author, "Details", "User", new { id = item.author_id }, null)
        </span>
        <span class="advertisement-category">
            Kategorija: @Html.DisplayFor(x => item.category)
        </span>
        <span style="display:inline-block; text-align:right;float:right;margin-right:10px">
            Įkėlimo data: @Html.DisplayFor(x => item.dateCreated)
        </span>

        <h3 style="text-align:center">@Html.DisplayFor(x => item.name)</h3>
        <span style="margin:5px;display:inline-block">
            @Html.DisplayFor(x => item.description)
        </span>
        @if (Session["Permissions"] != null && int.Parse(Session["Permissions"].ToString()) == 3)
        {
            <span style="float:right;display:block;margin-top:5px" class="Back_button">
                @Html.ActionLink("Redaguoti", "EditAdvertisement", "Home", new { id = item.Id }, null)
            </span>
            <br /><br />
            <span style="float:right;display:block" class="Back_button">
                @Html.ActionLink("Ištrinti", "DeleteAdvertisement", "Home", new { id = item.Id }, null)
            </span>
        }
    </div>

}

<br />
Page @(Model.adsList.PageCount < Model.adsList.PageNumber ? 0 : Model.adsList.PageNumber) of @Model.adsList.PageCount

@Html.PagedListPager(Model.adsList, page => Url.Action("Index",
                                new { page, usernameFilter = ViewBag.usernameFilter, descriptionFilter = ViewBag.descriptionFilter, categoryFilter = ViewBag.categoryFilter }))

<script type="text/javascript">
    function resetFilter() {
        $("#usernameFilter").val("");
        $("#categoryFilter").val("0");
        $("#descriptionFilter").val("");
        $("#filterForm").submit();

    }
    $(document).ready(function () {
        $("#categoryFilter").val(@ViewBag.categoryFilter);
    });


</script>