@using PagedList.Mvc;
@using IISProjektas.Models;
@{
    ViewBag.Title = "Mano skelbimai";
}

@model PagedList.PagedList<AdvertisementModel>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

@if (Request.Cookies["AdCreated"] != null)
{



    if (Request.Cookies["AdCreated"].Value == "1")
    {
        <h3 style="color:green">
            Naujas skelbimas sėkmingai sukurtas

        </h3>
        <br />
    }
    if (Request.Cookies["AdCreated"].Value == "2")
    {
        <h3 style="color:red">
            Kuriant skelbima įvyko klaida, bandyke dar kartą

        </h3>
        <br />
    }

}

<span class="Back_button">
    @Html.ActionLink("Sukurti naują skelbimą", "Create")

</span>
</br><br />



<table class="table table-striped">
    <thead style="border-bottom: thin solid gray;margin-bottom:10px">
    <th style="width:150px">Autorius</th>
    <th style="width:300px;text-align:center">Skebimas</th>
    <th style="width:120px">Kategorija</th>
    <th style="width:150px">Įkėlimo data</th>    
    <th>Redaguoti</th>
    <th>Ištrinti</th>
    

    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr style="border-bottom: thin solid gray">
                <td>@Html.ActionLink(item.author, "details", "User", new { id = item.author_id }, null)</td>
                <td style="text-align:center">
                    <strong>@Html.ActionLink(item.name, "Details", "Advertisement", new { id = item.Id }, null)</strong><br />
                    @Html.Raw(item.description.Length > 35 ? item.description.Substring(0, 35) + "<text>...</text>" : item.description)
                </td>
                <td>@Html.DisplayFor(x => item.category)</td>
                <td>@Html.DisplayFor(x => item.dateCreated)</td>

                @if (Session["Permissions"] != null && int.Parse(Session["Permissions"].ToString()) > 1)
                {
                    <td>
                        <span style="display:inline-block" class="Back_button">
                            @Html.ActionLink("Redaguoti", "Edit", "Advertisement", new { id = item.Id }, null)
                        </span>
                    </td>
                    <td>
                        <span style="display:inline-block" class="Back_button">
                            @Html.ActionLink("Ištrinti", "Delete", "Advertisement", new { id = item.Id }, null)
                        </span>
                    </td>
                }

            </tr>
        }

    </tbody>


</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("MyAds",
                                new { page }))












@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
